[Unit]
Description=The openresty HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=-/opt/openresty/openresty.env
Type=forking
PIDFile=/opt/openresty/nginx/logs/nginx.pid
ExecStartPre=/opt/openresty/nginx/sbin/nginx -t
ExecStart=/opt/openresty/nginx/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
KillSignal=SIGQUIT
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
